<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/utilities.css">
    <title>BRO | Bridge to reach | NGO</title>
</head>

<body>

    <!-- Navigation Bar -->
    <section class="nav-bar">
        <div class="container flex">
            <img src="/images/BRO-logo.svg" alt="Logo" class="logo">
            <nav class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <button class="btn sm"><a href="#">Make a Difference</a></button>
                </ul>
            </nav>
        </div>
    </section>
<%- body %>
<footer class="footer bg-dark p-5">
    <div class="container grid grid-3">
        <div class="foot-left">
            <img src="/images/BRO-logo.svg" alt="Logo" class="logo">
            <h3 class="smd">A small step towards a big change.</h3>
            <p class="lead"><b>Address:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, dolore.</p>
            <p class="lead"><b>Email:</b> email@email.com</p>
            <p class="lead"><b>Phone number:</b> 00-00-000-000</p>
        </div>

        <div class="foot-middle">
            <p>Copyright &copy; 2021 | All Rights Reserved</p>
        </div>
        <div class="foot-right flex ">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                    <li><a href="/">Terms & Conditions</a></li>
                </ul>
            </nav>
            <div class="social-icon">
                <a href="" class="btn-social">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="" class="btn-social">
                    <i class="fab fa-instagram-square fa-2x"></i>
                </a>
                <a href="" class="btn-social">
                    <i class="fab fa-whatsapp-square fa-2x"></i>
                </a>
                <a href="" class="btn-social">
                    <i class="fab fa-twitter-square fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

</body>

</html>