<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <title>Bridge To Reach</title>
</head>

<body>
    <div class="grid-page-container">
        <header>
            <nav>
                <img src="/images/logo.jpg"
                    alt="Bridge to reach logo" id="logo">
                <ul class="nav-links">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><button class="btn-cta" href="">Become a volunteer!</button></li>
                </ul>
            </nav>


<%- body %>

            <footer>
            
                <div class="footer-left">
                    <img src="/images/logo.jpg" alt="Bridge to reach logo" id="footer-logo">
                    <h2 class="tagline">A small step towards a big change.</h2>
                    <p class="address"><b>Address:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            
                </div>
                <div class="footer-right">
                    <div class="social-media">
                        <a class="btn-social"><i class="fab fa-facebook-square"></i></a>
                        <a class="btn-social"><i class="fab fa-instagram-square"></i></a>
                        <a class="btn-social"><i class="fab fa-whatsapp-square"></i></a>
                        <a class="btn-social"><i class="fas fa-envelope"></i></a>
                    </div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/donate">Donate</a></li>
                    </ul>
                    <div class="copyrights">
                        <p class="copyright"><i class="far fa-copyright"></i> Copyright 2021 | All Rights Reserved</p>
                    </div>
                </div>
            
            </footer>
            </div>
<!--<div class="grid-page-container">
     NEW CODE 
     <nav class="nav-bar">
        <img src="/images/logo.jpg" alt="" id="logo">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/donate" class="btn">Donate Us</a> </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav> -->
    <!--  -->
    
    <!-- <footer>
        <div class="footer-container">
            <div class="footer-left">
                <img src="/images/logo.jpg" alt="Bridge to reach logo" id="footer-logo">
                <h2 class="tagline">A small step towards a big change.</h2>
                <p class="address"><b>Address:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempore facilis optio est corporis, velit deserunt quae distinctio nobis quod magnam numquam error minima! Esse.</p>
                <div class="social-media">
                    <a class="btn-social"><i class="fab fa-facebook-square"></i></a>
                    <a class="btn-social"><i class="fab fa-instagram-square"></i></a>
                    <a class="btn-social"><i class="fab fa-whatsapp-square"></i></a>
                    <a class="btn-social"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            <div class="footer-right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/donate">Donate</a></li>
                </ul>
            </div>    
            <div class="copyrights">
                <p class="copyright"><i class="far fa-registered"></i> All Rights Reserved<br /><i class="far fa-copyright"></i> Copyright 2021</p>
            </div>
        </div>
    </footer>
    </div> -->
    <script src="/scripts/nav.js"></script>
</body>

</html>