<link rel="stylesheet" href="styles/about.css">
<div class="about-container">
    <h1 class="about-container-h1">About Us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ipsam, ratione eos dignissimos modi </p>
</div>
<section class="about-organization">
    <div class="about-org-img">
        <figure class="about-org-img-bottom">
            <img class="about-org-photos" src="./images/about-bottom.png" alt="Two kids happily hugging.">
        </figure>
        <figure class="about-org-img-top">
            <img class="about-org-photos" src="./images/about-top.png" alt="A child looking out.">
        </figure>
        <!-- <img class="about-org-img-bottom" src="./images/about-bottom.png" alt="Two kids happily hugging.">
        <img class="about-org-img-top" src="./images/about-top.png" alt="A child looking out."> -->
    </div>
    <div class="about-org">
        <h3 class="about-org-heading">About</h3>
        <h1 class="about-org-subheading">The Organization</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt voluptates voluptatum quia dolorem numquam similique unde aliquam ipsam dicta tempore? 
            Lorem, ipsiti officia officiimporibus omnis debitis, umenda asperiores earum dolores velit. Quibusdam hic voluptatem dolores sint, reprehenderit blanditiis perspiciatis dolore eaque ipsa sit cupiditate veritatis fugit, optio dolorum iure autem neque sapiente numquam nihil illum? Corrupti, magnam! Accusamus, cum! Laudantium eos minus culpa eveniet, debitis animi distinctio non impedit expedita eum earum voluptatem libero, quo provident blanditiis autem facere voluptatibus nihil commodi quos vero qui modi porro! Tempora voluptatibus aliquam deserunt odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur exercitationem nisi nobis laboriosam laborum doloremque necessitatibus error cum? Sit!Iste magni accusantium veritatis similique.</p>
    </div>
</section>

<section class="motto">
    <div class="motto-text">
        <h1 class="motto-head">Our motto</h1>
        <h3 class="motto-mainheading">Work for a <span class="emphasize">cause,</span> <br> Not for <span
                class="emphasize">applause.</span></h3>
    </div>
    <div class="motto-img">
        <figure class=" motto-img-bottom">
            <img class="motto-gallery-img" src="./images/about-bottom.png" alt="Two kids happily hugging.">
        </figure>
        <figure class="motto-img-top">
            <img class="motto-gallery-img" src="./images/about-top.png" alt="A child looking out.">
        </figure>
    </div>
</section>

<section class="our-team">    
    <div class="leaders-grid">
        <div class="our-heading">
            <h3 class="head-title">Our Team</h3>
            <h1 class="sub-title">Our Leaders</h1>
        </div>
        <div class="about-cards">
            <div class="leaders-card1 leaders-card">
                <img src="/images/leader1.jpg" alt="Leader standing" class="leader1">
                <h1 class="leader-name">Leader 1</h1>
                <h3 class="leader-designation">Designation</h3>
            </div>
            <div class="leaders-card2 leaders-card">
                <img src="/images/leader2.jpg" alt="Leader smiling" class="leader2">
                <h1 class="leader-name">Leader 2</h1>
                <h3 class="leader-designation">Designation</h3>
            </div>
            <div class="leaders-card3 leaders-card">
                <img src="/images/leader3.jpg" alt="Leader standing confidently" class="leader3">
                <h1 class="leader-name">Leader </h1>
                <h3 class="leader-designation">Designation</h3>
            </div>
        </div>
    </div>
</section>

<section class="photo-gallery">
    <div class="photo-gallery-heading">
        <h1 class="head-title">Photo showcase</h1>
        <h3 class="sub-title">Recent photo gallery</h3>
    </div>
    <div class="gallery">
        <figure class=" gallery-img1">
            <img src="/images/kids-pumping-water.png" class="gallery-img" alt="Kids pumping water.">
        </figure>
        <figure class="gallery-img2">
            <img src="/images/granddad-kid.png" class="gallery-img" alt="Granddad and Kid.">
        </figure>
        <figure class="gallery-img3">
            <img src="/images/granny.png" class="gallery-img" alt="Granny.">
        </figure>
        <figure class="gallery-img4">
            <img src="/images/selling-uncle.png" class="gallery-img" alt="Selling Uncle.">
        </figure>
        <figure class="gallery-img5">
            <img src="/images/kid-happy-playing.png" class="gallery-img" alt="Kid playing happily.">
        </figure>
    </div>
</section>