<!-- Style Sheets  -->
<link rel="stylesheet" href="styles/contact.css">

<!-- Showcase -->
<section class="showcase">
    <div class="container">
        <div class="showcase-text">
            <h3 class="xl">Contact Us</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ipsam, ratione eos dignissimos
                modi.</p>
        </div>
    </div>
</section>

<!-- Newsletter -->
<section class="newsletter">
    <div class="container grid">
        <div class="newsletter-text">
            <h1>Let's Make a difference.</h1>
        </div>
        <div class="newsletter-form-control">
            <form action="">
                <label for="name">Name</label><br>
                <input type="text" id="name" name=name><br>
                <label for="email">Email</label><br>
                <input type="email" id="email" name=email><br>
                <label for="number">Phone number</label><br>
                <input type="tel" id="number" name="phone"><br>
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>

<!-- Map -->
<section class="map">
    <div class="container">
        <h3 class="lg">Find Us:</h3>
        <!-- <img src="/images/contact-map.png" alt=""> -->
    </div>
</section>