<section class="container">
  <h1>Help us using the details below:</h1>
  <p>
    Address: Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Exercitationem, eligendi labore ea minima, atque aliquam velit fuga, nostrum
    repellat iusto sit. Eum fuga explicabo, quasi culpa nulla repellendus minus
    esse.
  </p>
  <p>Phone Number: +91 9999-999-999</p>
</section>
