<link rel="stylesheet" href="styles/donate.css" />
<section class="container">
  <div class="donate">
    <h1 class="heading">Help us using the details below:</h1>
    <p>
      <b>Address:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Exercitationem, eligendi labore ea minima, atque aliquam velit fuga,
      nostrum repellat iusto sit. Eum fuga explicabo, quasi culpa nulla
      repellendus minus esse.
    </p>
    <p><b>Phone Number:</b> +91 9999-999-999</p>
  </div>
</section>
