       <!-- NEW HERO CODE -->
        <div class="container">
        
            <div class="hero-text">
        
                <article class="heading">
                    <h3 class="subtitle">Make an impact...</h3>
                    <h1 class="title">For a better <br>surrounding <span class="dot">.</span></h1>
                    <h3 class="subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
                        Veniam blanditiis pariatur, repudiandae laudantium,
                    </h3>
        
                </article>
            </div>
            <div class="images">
                <img src="/images/img2.png"
                    alt="img2" class="img2">
                <img src="/images/img1.png"
                    alt="img1" class="img1">
        
            </div>
            <button class="cta-btn">Make a difference.</button>
        </div>

        
    </div>
    <section class="core-features">
        <div class="core-head">
            <h1 class="head-title">CORE FEATURES</h1>
            <h3 class="sub-title">What we do?</h3>
        </div>
        <div class="card-grid">
            <div class="card card1">
                <h1>01</h1>
                <h3>Women and Children Empowerment</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card2">
                <h1>02</h1>
                <h3>Providing relief during disasters</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card3">
                <h1>03</h1>
                <h3>Support for old age homes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card4">
                <h1>04</h1>
                <h3>Support animal shelter homes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card5">
                <h1>05</h1>
                <h3>Rescue and protect stray animals</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card6">
                <h1>06</h1>
                <h3>Sustainable farming development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
    </section>
    <section class="about-us">
        <article class="about-title">
            <h3 class="subtitle">About Us</h3>
            <h1 class="title">What have we done with your help?</h1>
            <p class="text">Lorem, ur atque recusandae, explicabo et odit repellendus tempore eligendi nesciunt, ad quibusdam fugit ipsum enim maiores ullam autem? Perspiciatis dignissimos animi ad odit minus, saepe quibusdam fugit cumque qui obcaecati. Expedita ipsum dolores mollitia, error asperiores consequatur molestiae totam quas quam quae adipisci? Voluptatem suscipit, nihil, perferendis ipsum ratione magni accusamus dicta consequuntur repellendus odit odio illum error numquam similique quibusdam incidunt aperiam, excepturi mollitia non. Vero nemo voluptatibus cumque illo nihil provident voluptatum pariatur sit enim non officia nisi a, consequatur aspernatur eligendi debitis quibusdam dolores, vel doloribus nobis nulla rerum ratione nam? Fugiat alias quibusdam vitae praesentium facilis aliquam eaque cum cupiditate iure! Animi et natus itaque consequuntur sit quaerat quo molestiae mollitia corrupti asperiores. Iste officia minus quo, recusandae ipsum optio vel. Aut adipisci error placeat, libero ex, nostrum id modi doloribus ea voluptatum, praesentium voluptatem molestiae. Rerum inventore voluptas voluptate est.&nbsp;&nbsp;<b><a href="/about" class="read-more">Read More</a></b> </p>
        </article>
        <div class="about-images">
            <img class="abttopimg" src="./images/about-bottom.png" alt="Two kids happily hugging.">
            <img class="abtbtmimg" src="./images/about-top.png" alt="A child looking out.">
        </div>        
    </section>
    <div class="volunteer-container">
        <section class="volunteer-title">
            <h1 class="vol-title">Become a proud volunteer!</h1>
            <button href="/join-us"class="join-us"><a href="/join-us">Join Us</a></button>
        </section>
        <section class="testimonials">            
            <div class="testmonial-section">
                <span class="quote-left">&#8220;</span>
                <img src="https://images.pexels.com/photos/4342352/pexels-photo-4342352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Leader standing" class="person-img">
                <span class="quote-right">&#8221;</span>
                <h2 class="name">Name</h2>
                <p class="testimonial-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo est eius recusandae, cumque
                    laborum ad saepe similique numquam aut optio modi pariatur, id facilis eligendi maiores minus ut dolores?
                    Aspernatur velit impedit reiciendis a dolorem recusandae saepe maiores? Quas alias excepturi maiores nobis
                    molestiae nisi nesciunt modi fugit officiis ex necessitatibus ullam ad voluptatem, accusamus, voluptatum
                    perferendis corporis quos nemo ani eum.
                </p>
            </div>
            
        </section>
    </div>