<!-- Showcase -->
<section class="showcase">
  <div class="container grid">
    <div class="showcase-text">
      <h3>Make an impact...</h3>
      <h1 class="xl">For a better surrounding <span class="dot">.</span></h1>
      <p class="lead">
        We make a living by what we get, <br />But we make a life by what we
        give.
      </p>
      <a href="/donate" class="btn">Donate</a>
    </div>
    <div class="showcase-img">
      <img src="/images/Hero-image.png" alt="" class="hero-img" />
    </div>
  </div>
</section>

<!-- Core Features -->
<section class="core-features">
  <div class="container">
    <div class="core-head text-center my-1">
      <h3>Core Features</h3>
      <h1 class="xl">What we do?</h1>
    </div>
    <div class="core-cards grid grid-3 my-1">
      <div class="card card-1">
        <h1 class="xxl">01</h1>
        <h3 class="smd">Women & Children Empowerment</h3>
        <hr />
        <p class="lead">
          Women don’t need to find a voice, they have a voice, and they need to
          feel empowered to use it, and people need to be encouraged to listen.
        </p>
      </div>
      <div class="card card-2">
        <h1 class="xxl">02</h1>
        <h3 class="smd">Providing relief during disasters</h3>
        <hr />
        <p class="lead">
          Taking the right measures during disasters is a priority. We stand by
          in helping and creating a positive surrounding.
        </p>
      </div>
      <div class="card card-3">
        <h1 class="xxl">03</h1>
        <h3 class="smd">Support for old age <br />homes</h3>
        <hr />
        <p class="lead">
          Old need love, care and togetherness. A warm smile and an honest
          assesment of what help your loved ones need is the best you can do.
        </p>
      </div>
      <div class="card card-4">
        <h1 class="xxl">04</h1>
        <h3 class="smd">Support animal shelter homes</h3>
        <hr />
        <p class="lead">
          Aquiring all the land to our selfishness is wrong. Join us with
          supporting shelter homes to all kinds of animals.
        </p>
      </div>
      <div class="card card-5">
        <h1 class="xxl">05</h1>
        <h3 class="smd">Rescue and protect stray animals</h3>
        <hr />
        <p class="lead">
          All animals need warmth, care and safe place. Straying away the stray
          animals is not the right choice. Go out, treat them good and give them
          food.
        </p>
      </div>
      <div class="card card-6">
        <h1 class="xxl">06</h1>
        <h3 class="smd">Sustainable farming development</h3>
        <hr />
        <p class="lead">
          Farming is the most important for survival. Thank the farmers
          everytime you have a meal to eat.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Social Proof -->
<section class="social-proof">
  <div class="container grid py-4">
    <div class="social-proof-img">
      <img src="/images/About-us-image.png" alt="Image" />
    </div>
    <div class="social-proof-text py-3">
      <h3 class="smd">About Us</h3>
      <h1 class="lg">What have we done with your help?</h1>
      <p class="lead">
        Lorem, ur atque recusandae, explicabo et odit repellendus tempore
        eligendi nesciunt, ad quibusdam fugit ipsum enim maiores ullam autem?
        Perspiciatis dignissimos animi ad odit minus, saepe quibusdam fugit
        cumque qui obcaecati. Expedita ipsum dolores mollitia, error asperiores
        consequatur molestiae totam quas quam quae adipisci? Voluptatem
        suscipit, nihil, perferendis ipsum ratione magni accusamus dicta
        consequuntur repellendus odit odio illum error numquam similique
        quibusdam incidunt aperiam, excepturi mollitia non.
        <a href="/about">Read more</a>
      </p>
    </div>
  </div>
</section>

<section class="volunteer">
  <div class="container grid-row">
    <div class="volunteer-text">
      <h1 class="xxl">Become a proud volunteer!</h1>
      <a href="/join" class="btn">Join Us</a>
    </div>
    <div class="card testimonials">
      <div class="testimonial-top flex">
        <span class="quote-left">&#8220;</span>
        <img src="/images/leader1.jpg" alt="Person image" class="test-img" />
        <span class="quote-right">&#8221;</span>
      </div>
      <div class="testimonial-bottom text-center">
        <h1 class="md">Name</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui amet
          eveniet excepturi non architecto possimus molestias suscipit illum est
          aperiam numquam optio similique, esse saepe minus sed, beatae
          expedita! Dolorem!
        </p>
      </div>
    </div>
  </div>
</section>
