<!-- <div class="grid-page-container">
    <header>
        <nav>
            <img src="https://images.unsplash.com/photo-1620969022529-e0d62d782802?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=608&q=80"
                alt="Bridge to reach logo" id="logo">
            <ul class="nav-links">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><button class="btn-cta" href="">Become a volunteer!</button></li>
            </ul>
        </nav> -->
        <!-- HEADER -->
        <div class="header-left">
            <article class="heading">
                <h3 class="subtitle">Make an impact...</h3>
                <h1 class="title">For a better <br>surrounding <span class="dot">.</span></h1>
                <h3 class="subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
                    Veniam blanditiis pariatur, repudiandae laudantium,
                </h3>
            
            </article>
        </div>
        <div class="header-right">
            <figure class="header-fig-1">
                <img src="/images/img2.png" alt="img1" class="img1">
            </figure>
            <figure class="header-fig-2">
                <img src="/images/img1.png" alt="img2" class="img2">
            </figure>
        </div>
    </header>
    <!--   CORE FEATURES-->
    <section class="core-features">
        <div class="core-head">
            <h1 class="head-title">CORE FEATURES</h1>
            <h3 class="sub-title">What we do?</h3>
        </div>
        <div class="card-grid">
            <div class="card card1">
                <h1>01</h1>
                <h3>Women and Children Empowerment</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card2">
                <h1>02</h1>
                <h3>Providing relief during disasters</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card3">
                <h1>03</h1>
                <h3>Support for old age <br> homes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card4">
                <h1>04</h1>
                <h3>Support animal shelter homes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card5">
                <h1>05</h1>
                <h3>Rescue and protect stray animals</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="card card6">
                <h1>06</h1>
                <h3>Sustainable farming development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
    </section>
    <section class="about-us">
        <article class="about-title">
            <h3 class="subtitle">About Us</h3>
            <h1 class="title">What have we done with your help?</h1>
            <p class="text">Lorem, ur atque recusandae, explicabo et odit repellendus tempore eligendi nesciunt, ad
                quibusdam fugit ipsum enim maiores ullam autem? Perspiciatis dignissimos animi ad odit minus, saepe
                quibusdam fugit cumque qui obcaecati. Expedita ipsum dolores mollitia, error asperiores consequatur
                molestiae totam quas quam quae adipisci? Voluptatem suscipit, nihil, perferendis ipsum ratione magni
                accusamus dicta consequuntur repellendus odit odio illum error numquam similique quibusdam incidunt
                aperiam, excepturi mollitia non. Vero nemo voluptatibus cumque illo nihil provident voluptatum pariatur
                sit enim non officia nisi a, consequatur aspernatur eligendi debitis quibusdam dolores, vel doloribus
                nobis nulla rerum ratione nam? Fugiat alias quibusdam vitae praesentium facilis aliquam eaque cum
                cupiditate iure! Animi et natus itaque consequuntur sit quaerat quo molestiae mollitia corrupti
                asperiores. Iste officia minus quo, recusandae ipsum optio vel. Aut adipisci error placeat, libero ex,
                nostrum id modi doloribus ea voluptatum, praesentium voluptatem molestiae. Rerum inventore voluptas
                voluptate est.&nbsp;&nbsp;<b><a href="/about" class="read-more">Read More</a></b> </p>
        </article>
        <div class="about-images">
            <figure class="about-index-fig1">
                <img class="abttopimg" src="./images/about-bottom.png" alt="Two kids happily hugging.">
            </figure>
            <figure class="about-index-fig2">
                <img class="abtbtmimg" src="./images/about-top.png" alt="A child looking out.">
            </figure>
        </div>
    </section>
    <div class="volunteer-container">
        <section class="volunteer-title">
            <h1 class="vol-title">Become a proud volunteer!</h1>
            <button href="/join-us" class="join-us"><a href="/join-us">Join Us</a></button>
        </section>
        <section class="testimonials">
            <div class="testmonial-section">
                <span class="quote-left">&#8220;</span>
                <img src="https://images.pexels.com/photos/4342352/pexels-photo-4342352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Leader standing" class="person-img">
                <span class="quote-right">&#8221;</span>

            </div>
            <div class="test-text">
                <h2 class="name">Name</h2>
                <p class="testimonial-text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum totam
                    earum illum! Quo accusamus soluta sint dolores sapiente blanditiis consequatur dignissimos sed
                    inventore, deleniti voluptatibus quisquam excepturi doloremque sit delectus.
                </p>
            </div>
        </section>
    </div>
    <!-- <footer>

        <div class="footer-left">
            <img src="/images/logo.jpg" alt="Bridge to reach logo" id="footer-logo">
            <h2 class="tagline">A small step towards a big change.</h2>
            <p class="address"><b>Address:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

        </div>
        <div class="footer-right">
            <div class="social-media">
                <a class="btn-social"><i class="fab fa-facebook-square"></i></a>
                <a class="btn-social"><i class="fab fa-instagram-square"></i></a>
                <a class="btn-social"><i class="fab fa-whatsapp-square"></i></a>
                <a class="btn-social"><i class="fas fa-envelope"></i></a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/donate">Donate</a></li>
            </ul>
            <div class="copyrights">
                <p class="copyright"><i class="far fa-registered"></i> All Rights Reserved<br /><i
                        class="far fa-copyright"></i> Copyright 2021</p>
            </div>
        </div>

    </footer>
</div> -->

<!-- 
logo
tagline
address
phone number
mail id
social links (4)
home
about
contact
privacy policy
terms and conditions
copyright
all rights
reporting scams

-->