<!-- Style Sheet -->
<link rel="stylesheet" href="styles/join.css" />
<section class="container">
  <div class="form-control">
    <h1>Let's talk!</h1>
    <form action="" class="join">
      <label for="name">Name</label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="email">Email</label><br />
      <input type="email" id="email" name="email" /><br />
      <label for="number">Phone number</label><br />
      <input type="tel" id="number" name="phone" /><br />
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
</section>
