.showcase {
    background-image: url("/images/about-us-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 4em 0 ; */
}

.showcase-text h3, .showcase-text p {
    color: #fff;
}

.showcase-text h3 {
    padding-top: 3em;
}
.showcase-text p{
    border: none;
    padding:0;
}

.abouttheorg .grid {
    gap: 60px;
    margin: 40px auto;
}
.about-right p{
    text-align: justify;
    text-justify: inter-word; 
    color: #808080;  
}
.about-right h3{
    color: var(--primary-color);
}
.about-right h1{
    color: var(--tertiary-color);
}

.our-motto-left h3{
    color: var(--primary-color);
    text-transform: uppercase;
}
.our-motto-left h1 em{
    color: #808080;
}

.our-motto-left h1{
    font-family: Playfair Display;
    color: #fff;
}

.our-motto .grid {
    gap: 0;
}
.our-motto{
    background-color: #0d2d47;
    padding: 40px;
}
.our-motto-img {
    padding-left: 50px;
}

.leaders .card img{
    width: 200px;
    height: 200px;
    border-radius: 250px;
}
.leaders {
    padding: 100px 0;
}
.leader-text h3{
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: #FFE2DA;
    margin: 0 22em;
    border-radius: 10px;
}

.leader-text h1{
    font-family: Playfair Display;
    color: var(--tertiary-color);
}
.leaders .card h3{
    color: var(--primary-color);
}
.photoshowcase h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: #FFE2DA;
    margin: 0 19em;
    border-radius: 10px;
}
.photoshowcase h1 {
    font-family: Playfair Display;
    color: var(--tertiary-color);
}

/* Tablet and under */
@media (max-width: 768px){
    .about-left img{
        display: none;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .showcase, .showcase-text {
        height: 60vh;
    }
    .showcase-text h3 {
        padding-top: 3.5em;
    }
    .about-right h1 {
        font-size: 42px;
    }
    .our-motto-img {
        display: none;
    }
    .leader-text h3 {
        font-size: 16px;
        margin: 0 16em;
    }
    .leader-text h1 {
        font-size: 42px;
    }
    .leaders .card img{
        width: 150px;
        height: 150px;
        border-radius: 250px;
    }
    .leaders .card h1 {
        font-size: 20px;
    }
    .leaders .card h3 {
        font-size: 16px;
    }
    .photoshowcase-text h3 {
        font-size: 16px;
        margin: 0 15em;
    }
    .photoshowcase-text h1{
        font-size: 42px;
    }
}

/* Mobile */
@media screen and (max-width: 500px){
    .about-left img{
        display: none;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .showcase, .showcase-text {
        height: 60vh;
    }
    .showcase-text h3 {
        padding-top: 7em;
        font-size: 38px;
    }
    .about-right h1 {
        font-size: 42px;
        text-align: center;
    }
    .about-right h3 {
        text-align: center;
    }
    .abouttheorg .grid {
        margin: 0;
        margin-bottom: 2em;
    }
    .our-motto-img {
        display: none;
    }
    .leaders {
        padding: 50px 0;
    }
    .leader-text h3 {
        font-size: 14px;
        margin: 0 9em;
    }
    .leader-text h1 {
        font-size: 36px;
    }
    .leaders .card img{
        width: 90px;
        height: 90px;
        border-radius: 250px;
    }
    .leaders .grid-3{
        /* grid-template-columns: none; */
        gap: 0;
    }
    .leaders .card h1 {
        font-size: 16px;
    }
    .leaders .card h3 {
        font-size: 14px;
    }
    .photoshowcase-text h3 {
        font-size: 14px;
        margin: 0 11em;
    }
    .photoshowcase-text h1{
        font-size: 36px;
    }
    .footer .container {
        padding: 0;
    }
    .footer {
        padding: 3em;
    }

}

/* Mobile and under */
@media (max-width: 400px) {
    .about-left img{
        display: none;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .showcase, .showcase-text {
        height: 60vh;
    }
    .showcase-text h3 {
        padding-top: 5em;
        font-size: 38px;
    }
    .showcase-text {
        margin: 0 3em;
    }
    .about-right h1 {
        font-size: 36px;
        text-align: center;
    }
    .about-right h3 {
        text-align: center;
    }
    .abouttheorg .grid {
        margin: 0;
        margin-bottom: 2em;
    }
    .our-motto-img {
        display: none;
    }
    .our-motto-left h1 {
        font-size: 42px;    
    }
    .our-motto-left h3 {
        font-size: 16px;
    }
    .leaders {
        padding: 40px 0;
    }
    .leader-text h3 {
        font-size: 16px;
        margin: 0 5em;
    }
    .leader-text h1 {
        font-size: 42px;
    }
    .leaders .card img{
        width: 90px;
        height: 90px;
        border-radius: 250px;
    }
    .leaders .card {
        width: 100%;
    }
    .leaders .grid-3{
        grid-template-columns: none;
        gap: 0;
    }
    .leaders .card h1 {
        font-size: 16px;
    }
    .leaders .card h3 {
        font-size: 14px;
    }
    .photoshowcase-text h3 {
        font-size: 14px;
        margin: 0 5em;
    }
    .photoshowcase-text h1{
        font-size: 32px;
    }
    .footer .container {
        padding: 0;
    }
    .footer {
        padding: 3em;
    }
}