.showcase {
    background-image: url("/images/contact-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.showcase-text h3, .showcase-text p {
    color: #fff;
}

.showcase-text h3 {
    padding-top: 3em;
}
.showcase-text p{
    border: none;
    padding:0;
}
.map h3 {
    /* font-family: Playfair Display; */
    color: var(--tertiary-color);
    padding: 1em;
    background-image: url("/images/contact-map.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.map {    
    padding-bottom: 3em;
}
.newsletter {
    /* height: 80vh; */
    padding: 5em 0;
    background-color: var(--background-color);
}
.newsletter-text {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
}
.newsletter-form-control input {
    border: none;  
    border-bottom: 2px #000 solid;  
    width: 100%;
    margin-bottom: 2em;
    font-size: 18px;
    background-color: transparent;
}
.newsletter-form-control input:focus {
    outline: none;
}
.newsletter-form-control label {
    font-size: 20px;
}
.newsletter .grid {
    gap: 80px;
}

/* Tablet and under */
@media screen and (max-width: 768px){
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .showcase-text h3 {
        padding-top: 3.5em;
    }
    .newsletter h1{
        font-size: 48px;
    }
    .newsletter .grid {
        gap: 20px;
    }
    .map h3 {
    /* font-family: Playfair Display; */
    color: var(--tertiary-color);
    padding: 1em;
    background-image: url("/images/contact-map.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    font-size: 24px;
    margin-bottom: 40px;
    }
    
}


/* Mobile */
@media screen and (max-width: 500px) {
    .showcase-text h3 {
        padding-top: 7em;
        font-size: 38px;
    }
}


/* Mobile and under */
@media (max-width: 400px) {
    .showcase-text h3 {
        padding-top: 4.5em;
        font-size: 38px;
    }
    .showcase-text {
        margin: 0;
    }
    .newsletter h1{
        font-size: 36px;
    }
    .newsletter-form-control input {
        font-size: 16px;
    }
    .newsletter-form-control input:focus {
        outline: none;
    }
    .newsletter-form-control label {
        font-size: 16px;
    }
    .newsletter .grid {
        gap: 0;
    }
    .map h3 {
        height: 30vh;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .footer .container {
        padding: 0;
    }
    .footer {
        padding: 3em;
    }
}