@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

:root{
    --primary-color: #F36235;
    --secondary-color: #1d3445;
    --background-color: #FCFEFF;
    --tertiary-color: #051F33;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif ;
    color: #000;
    line-height: 1.6;
}


.nav-bar .logo{
    line-height: 1.2;
    margin: 10px 0;
    width: 50px;
}

.nav-links {
    margin: 10px 0;
}

.nav-links .btn{
    margin-left: 3em;
}

.nav-links .btn a {
    color: #fff;
    font-family: 'Montserrat', sans-serif ;
}

.nav-bar {
    background-color: var(--background-color);
    height: 80px;
    margin: 30px 20px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar a {
    padding: 10px;
    margin: 0 5px;
    columns: var(--secondary-color);
}

.nav-links li:first-child:hover {
    border-bottom: 2px #F36235 solid;
}

.nav-links li:nth-child(2):hover {
    border-bottom: 2px #F36235 solid;
} 

.nav-links li:nth-child(3):hover {
    border-bottom: 2px #F36235 solid;
} 

.nav-bar .flex {
    justify-content: space-between;
}

/* Showcase */

.showcase {
    margin-top: 0;
    height: 80vh;
    background-image: linear-gradient(180deg, #C4C4C4 35.62%, rgba(255, 252, 252, 0) 100% ), url("/images/background-hero-image.png");
    position: relative;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.showcase h1 {
    font-size: 64px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.dot {
    color: var(--primary-color);
}
.showcase h3 {
    color: var(--primary-color);
    font-weight: 700;
}
.showcase p{
    margin: 20px 0;
    border-left: 5px var(--primary-color) solid;
    padding-left: 20px;
}

.showcase-img {
    justify-self: center;
}

.hero-img {
    position: relative;
    width: 400px;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
}

/* .showcase::before, .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
} */


/* Core features */

.core-features{
    padding-top: 80px;
    /* height: 100vh; */
}

.core-cards h1{
    /* font-size: 80px; */
    color: #fff;
    font-family: Playfair Display;
}

.core-cards h3{
    /* border-left: 4px solid grey; */
    color: #fff;
    /* font-size: 24px; */
}

.core-cards p {
    color: #fff;
}

.card-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("/images/women-empowerment.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("/images/providing-relief.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("/images/old-age.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("/images/animal-shelter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("/images/rescue-animals.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("/images/farming-development.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: 10px 0;
}

.core-head h3 {
    /* font-size: 18px; */
    text-transform: uppercase;
    background-color: #FFE2DA;
    margin: 0 22em;
    border-radius: 10px;
    color: var(--primary-color);
}

.core-head h1{
    font-family: Playfair Display;
    color: var(--tertiary-color);
    /* font-size: 48px; */
}

/* Social proof */

.social-proof {
    /* padding: 50px; */
    /* margin: 80px 0; */
    height: 100vh;
}

.social-proof .grid{
    gap: 30px;
}
.social-proof-text h3{
    text-transform: uppercase;
    color: var(--primary-color);
}

.social-proof-text h1{
    font-family: Playfair Display;
    color: var(--tertiary-color);
    /* font-size: 48px; */
}

.social-proof-text p{
    text-align: justify;
    text-justify: inter-word; 
    color: #808080;  
}

.social-proof-text a{
    color: var(--primary-color);
    font-weight: bold;
}

.social-proof-img {
    justify-self: center;
    align-items: center;
}

/* Testimonials */
.volunteer {
    background: url("/images/volunteer-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.volunteer-text{
    text-align: center;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-bottom: 4em;
}

.volunteer-text h1 {
    /* font-size: 52px; */
    color: #fff;
    padding-bottom: 15px;
    font-family: Playfair Display;
}

.volunteer-text .btn{
    padding: 10px 60px;
    /* font-size: 20px; */
}

.test-img{
    height: 200px;
    width: 200px;
    border-radius: 200px;
}
.volunteer .card {
    margin-bottom: 5em;
}

.quote-left, .quote-right {
    font-size: 150px;
    color: #d1d1d1;
}

.volunteer .flex {
    justify-content: space-evenly;
}
.testimonial-bottom h1{
    color: var(--tertiary-color);
}

.testimonial-bottom p {
    color: #808080;
}


/* footer */

.footer {
    padding: 5em;
    color: rgb(206, 206, 206);
}
.footer a {
    color: rgb(206, 206, 206);
}
.foot-left {
    align-content: flex-start;
    color: #fff;
}

.foot-left p b{
    color: #fff;
}
.foot-left p{
    color: rgb(206, 206, 206);
}

.foot-left img {
    height: 100px;
    width: 80px;
    padding-top: 0;
    padding-bottom: 2em;
}

.foot-left .smd {
    padding-bottom: 1em;
}
.foot-right ul li {
    padding: 1em;
    text-align: right;
}
.foot-middle  {
    align-self: end;
}

.foot-right i {
    padding: 10px;
}
.footer .flex{
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-end; */
}




/* Tablet and under */
@media (max-width: 768px){
.showcase-img {
        display: none;
    }
    .showcase-text h1 {
        font-size: 48px;
    }
    .showcase-text {
        margin: 0 5em ;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .showcase .grid,
    .core-cards .grid,
    .social-proof .grid,
    .volunteer .grid,
    .footer .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .social-proof-img {
        display: none;
    }
    .foot-middle ul li{
        text-align: center;
    }
    .foot-middle p {
        padding-top: 0;
        text-align: center;
    }
    
    .core-features .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }
    .core-head h3 {
        font-size: 16px;
        margin: 0 16em;
    }
    .social-proof-text h1 {
        font-size: 42px;
    }
    .volunteer-text h1{
        font-size: 48px;
    }
    .foot-right ul{
        display: flex;
        font-size: 16px;
    }
    
}
    


/* Mobile */

@media screen and (max-width: 500px){
    .nav-bar {
        height: 150px;
        background-color: #fafafafd;
        margin: 0;
        padding: 0;
    }
    
    .nav-links {
        padding-bottom: 2em;
    }

    .nav-bar .flex{
        flex-direction: column;
    }
    .nav-links .btn {
        display: none;
    }
    .showcase-img {
        display: none;
    }
    .showcase-text h1 {
        font-size: 32px;
    }
    .showcase p{
        font-size: 12px;
    }
    .core-features .grid-3 {
        grid-template-columns: none;
    }
    .core-head h3 {
        font-size: 14px;
        margin: 0 8em;
    }
    .core-head h1{
        font-size: 36px;
    }
    .foot-left h3 {
        font-size: 16px;
        word-wrap: break-word;
    }
    .foot-left p{
        font-size: 16px;
    }
    .foot-middle {
        font-size: 16px;
    }
    .foot-right ul{
        flex-direction: column;
        font-size: 16px;
        padding: 1em 0;
        align-items: center;
    }

}